<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wasteof.money</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #dadada;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2d3748;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #202733;
        }
    </style>
</head>