<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wasteof.money</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>