<% if(user) { %>
    <button id='post-button' class="bg-indigo-500 text-white rounded-full h-16 w-16 flex items-center justify-center fixed bottom-10 right-10"><span class="iconify text-xl" data-icon="uil:plus"></button>
<% } %>