/*!
 * GitHub.com style
 *
 * GitHub Light v0.5.0
 * https://github.com/primer/github-syntax-light
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #2f363d;
  background: #ffffff;
}

.hljs-keyword,
.hljs-doctag,
.hljs-meta-keyword,
.hljs-builtin-name,
.hljs-type,
.hljs-template-tag,
.hljs-template-variable {
  color: #d73a49;
}

.hljs-title {
  color: #b392f0;
}

.hljs-literal,
.hljs-number,
.hljs-attr,
.hljs-attrib,
.hljs-variab,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr {
  color: #0366d6;
}

.hljs-regexp,
.hljs-79b8ff,
.hljs-meta-79b8ff {
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol,
.hljs-class .hljs-title {
  color: #e36209;
}

.hljs-comment,
.hljs-meta,
.hljs-code,
.hljs-formula {
  color: #6a737d;
}

.hljs-section {
  font-weight: bold;
  color: #0366d6;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #79b8ff;
}

.hljs-bullet {
  color: #fb8532;
}

.hljs-emphasis {
  font-style: italic;
  color: #2f363d;
}

.hljs-strong {
  font-weight: bold;
  color: #2f363d;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;}

.hljs-deletion {
  color: #ffdcd7;
  background-color:#67060c;
}