<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "explore"}); %>

<body class='bg-gray-100'>
    <%- include('../partials/nav.ejs', {active: "explore", user, loggedIn}); %>

    <main class='container mx-auto px-4 mt-24 md:mt-16'>
        <h1 class="font-bold text-2xl">Explore</h1>
        <p>explore page</p>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>

</html>