<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "explore", vue: true}); %>

<body class='bg-gray-100'>
    <%- include('../partials/nav.ejs', {active: "explore", user, loggedIn}); %>

    <main class='container mx-auto px-4 mt-24 md:mt-16' id='app' v-cloak>
        <h1>Explore</h1>
        <h2 class="font-medium my-2">Top users</h2>
        <div v-for="user in topUsers" class="inline font-medium text-gray-800 mx-2">
            <a :href="`/users/${user.name}`">
                <img :src="`/picture/${user.id}`" height="30px" class='rounded-full h-10 inline-block shadow'><span> {{ user.name }}</span>
            </a>
        </div>
        <h2 class="font-medium my-2">Trending posts (they aren't actually trending because i haven't written an algorithm for this yet)</h2>
        <post v-for="post in topPosts" v-bind:key="post._id" v-bind:post="post" v-bind:logged-in-user-id="'a'"></post>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>
<script type="module">
    import Post from "../assets/js/components/post.js";
    
    var app = new Vue({
        el: '#app',
        components: {
          Post // this is much cleaner than doing Vue.component(...)
        },
        data: {
            topUsers: [],
            topPosts: []
        },
        async mounted() {
            var userRes = await fetch('/api/top/users')
            var userData = await userRes.json()
            this.topUsers = userData

            var postRes = await fetch('/api/trending/posts')
            var postData = await postRes.json()
            this.topPosts = postData
        },
    })
</script>
</html>