<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "home"}); %>

<body>
    <%- include('../partials/nav.ejs', {active: "home", user}); %>

    <main>
        <h1>best social media</h1>
        <p>its so good <a href="#">yes</a></p>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>

</html>