<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "home"}); %>

<body>
    <%- include('../partials/nav.ejs', {active: "home", user}); %>

    <main>
        <h1>wasteof.money</h1>
        <p>welcome to wasteof.money, the best social media. your feed is on the <a href='/explore'>explore page.</a></p>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>

</html>