<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "home"}); %>

<body class='bg-gray-100'>
    <%- include('../partials/nav.ejs', {active: "home", user}); %>

    <main class='container mx-auto px-4 mt-24 md:mt-16'>
        <h1 class="font-bold text-2xl">next generation social media</h1>
        <p>wasteof.money, is a very special product. it can only be described as the next generation social media.</p>
        <p>returning user? your feed is on the <a class='text-indigo-600' href="/explore">explore page</a></p>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>

</html>