<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "join"}); %>


<body>
    <%- include('../partials/nav.ejs', {active: "join", user}); %>
    <main class='container mx-auto px-4 mt-28 md:mt-16'>
        <h1>join</h1>
        <p>join the club, be a cool person</p>
        <div class="message" id='msg' style="display: none;">you shouldn't see this, if you do then something must have gone pretty wrong la la la no one will ever see this hopefully asdfdgfhgjhkj</div>
        <form class='form-inline' autocomplete="off" id='form'>
            <label for="username">username:</label><input name="username" id='username' type="text">
            <label for="password">password:</label><input name="password" id='password' type="password">
            <input type="submit" value="make account">
        </form>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>

<script>
    var form = document.getElementById('form')
    form.addEventListener('submit', e => {
        e.preventDefault()
        var username = document.getElementById('username').value
        var password = document.getElementById('password').value
        signup(username,password)
    })

    async function signup(username, password) {
        var res = await fetch('/join', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
        var data = await res.json()
        if (data.ok) {
            document.location.href = '/'
        } else {
            document.getElementById('msg').style.display = 'block'
            document.getElementById('msg').innerText = data.error
        }
    }
</script>

</html>